beautifulsoup4
openai
numpy
Pillow
playwright
pydantic
python-dotenv
pytidylib
pyzipper
qdrant_client
requests
singleton_decorator
transformers
torch
torchvision
torchaudio
names-dataset
pandas
unidecode
neo4j
langchain
langchain-community
